@import '../../../styles/index.scss';

.landingTemplateContainer {
    background-image: url('../../../assets/images/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0% 10%;
    height: 500px;
    color: $primaryColor;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: column;
}