.defaultInput {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid black !important;

    &::placeholder {
        color: rgb(0, 0, 0) !important;
    }
}